/*
  Globals
 */
.about__section {
  margin-top: 100px;
}

.about__section-title {
  font-size: 32px;
}

.about__section-number {
  font-family: $font-monospace;
  color: $primary;
  font-weight: 400;
}

.about__primary-light-title {
  color: $primary-light;
  font-size: 3rem;
}

.about__button {
  background: linear-gradient(90deg, $primary, $cyan-gradient);
  border: none;
  color: white;
  padding: 12px 17px;

  &:hover {
    color: white !important;
  }
}

/*
  Presentation Section
 */
.about__presentation-greeting {
  color: $primary;
  font-family: $font-monospace;
  margin-bottom: 30px;
}

.about__presentation-name {
  color: lighten($dark-gray, 5);
  font-size: 3rem;
  margin-bottom: 0;
}

.about__presentation-description {
  max-width: 500px;
  margin-top: 20px;
  font-size: 1rem;
}

/*
  About Me section
 */
.about__about-me-description p{
  font-size: 1rem;
  margin-bottom: 15px;
}

.about__about-me-image {
  width: 60%;
  filter: grayscale(100%);
  transition: 0.3s;

  &:hover {
    filter: grayscale(0%);
  }
}

.about__about-me-skill {
  font-family: $font-monospace;
  font-size: 13px;
  list-style: none;
}

.about__about-me-skill::before {
  content: "▹";
  color: $primary;
  padding-right: 10px;
}

/*
  Experience section
 */
.about__experience-job-title {
  font-size: 20px;
  font-weight: 500;
}

.about__experience-job-company {
  color: $primary;
}

.about__experience-job-range {
  font-family: $font-monospace;
  font-size: 15px;
}

.about__experience-achievements ul li {
  font-size: 18px;
  list-style: none;
  margin-bottom: 5px;
}

.about__experience-achievements ul li::before {
  content: "▹";
  color: $primary;
  padding-right: 10px;
}

.about__experience-card-header {
  background-color: white;
  border-bottom: none;
}

/*
  Contact section
 */
.about__contact-fit {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.about__contact-description {
  margin-top: 30px;
  font-size: 1rem;
  color: $dark-gray;
}