.book__year-title {
  background: #cccccc;
  background: linear-gradient(90deg, $primary, #00dfd8);
  font-weight: 800;
  font-size: 4rem;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.book__title {
  font-size: 1.35rem;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
}

.book__author {
  color: $dark-gray;
  font-size: 0.85rem;
  padding-bottom: 5px;
}

.book__description {
  font-size: 0.85rem;
  line-height: inherit;
}

.book__post-image {
  width: 25%;
}

.book__post-title {
  padding-bottom: 5px;
  font-style: italic;
}

.book__post-author {
  color: $dark-gray;
  font-size: 0.85rem;
  padding-bottom: 5px;
}


.book__post-description {
  line-height: 1.35rem;
  font-size: 1rem;
}

.book__recommended-badge {
  background: $primary;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
  color:$white;
  font-size: 20px;
  height: 40px;
  padding: 3px 10px;
  position: absolute;
  right: 5%;
  text-align: center;
  top: 5%;
  width: 40px;

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}