.header__navbar {
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
  margin-bottom: 20px;
  background-color: white !important;
}

.header__nav-container{
  max-width: 1140px;
}

.nav-link {
  color: black !important;
}

.header__nav-link-active {
  border-bottom: 2px solid $primary;
}