.header__navbar {
  margin-bottom: 20px;
  background-color: white !important;
}

.header__nav-container{
  max-width: 1140px;
}

.nav-link {
  color: black !important;
  padding-bottom: 0;
}

.header__nav-link-active {
  color: $primary !important;
}

.header__brand {
  background: #cccccc;
  background: linear-gradient(90deg, $primary, $cyan-gradient);
  font-weight: 800;
  font-size: 2.5rem;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.header__brand-subtitle {
  display: block;
  font-size: 10px;
  transform: translateY(-15px);
  text-align: right;
}