.index__card-title {
  color: black;
  font-weight: 700;
  font-size: 18px;
}

.index__grid-item{
  border: none !important;
}

.index__grid-item .index__card-body {
  padding-right: 0;
  padding-left: 0;
  font-size: 14px;
  color: #484848;
}