/*
  Post card
 */

.project__post-description {
  line-height: 1.35rem;
  font-size: 1rem;
}

.project__post-title {
  padding-bottom: 5px;
}

.project__post-logo {
  width: 65px;
}

@media (max-width: 600px) {
  .project__post-button-text {
    display: none;
  }
}

/*
  Project grid
 */

.project__feature-card {
  $border: 3px;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: .7rem;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(90deg, $primary, $cyan-gradient);
  }
}

.project__card-title {
  font-size: 22px;
  font-weight: bold;
  width: 100%;
}

.project__card-description {
  font-size: 18px;
}

/*
  Project page
 */

.project__feature-star {
  background: linear-gradient(90deg, $primary, $cyan-gradient);
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
  color:$white;
  font-size: 20px;
  height: 40px;
  padding: 3px 10px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 40px;

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.project__logo-div{
  display: inline-block;
  transform: translateY(-50px);
}

.project__external-link {
  font-size: 1.25rem;
}