html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em -apple-system, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

a {
  color: $primary;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  color: $primary;
  outline-width: 0;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.homepage {
  max-width: 1140px;
  margin: auto;
}

.content {
  margin-top: 25px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.page-content {
  max-width: 850px;
  margin: auto;
}

.content > p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .page-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .homepage {
    padding-left: 15px;
    padding-right: 15px;
  }

  .index__category-grid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* SM breakpoint */
@media (min-width: 576px) {
  /* CUSTOM WIDTHS */
  .w-sm-50 { width: 50%!important; }
}

/* MD breakpoint*/
@media (min-width: 768px) {
  /* CUSTOM WIDTHS */
  .w-md-50 { width: 50%!important; }
}

/* LG breakpoint */
@media (min-width: 992px) {
  /* CUSTOM WIDTHS */
  .w-lg-50 { width: 50%!important; }
}

// Cookies Banner
.layout__cookie-banner {
  background-color: $white !important;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
  color: $dark-gray !important;
  max-width: 350px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px;
}

.layout__cookie-banner-button {
  background-color: $primary !important;
  color: $white !important;
}



